version: "3.8"

services:
  mysql-db:
    image: mysql:8.0
    container_name: movie_mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: myapplication
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    mem_limit: 1g
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: movie_app:latest
    container_name: movie
    depends_on:
      mysql-db:
        condition: service_healthy
    ports:
      - "8085:8085"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/myapplication
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: 1234
    restart: on-failure
    mem_limit: 700m
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health || exit 1"]
      interval: 15s
      timeout: 10s
      retries: 5
    networks:
      - app_network
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  mysql_data:

networks:
  app_network:
    driver: bridge
